body {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-image: url(../img/head-cover-football.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(10, 14, 52);
}

header .container {
  margin: 0 9%;
  text-align: center;
}

.head_logo {
  display: inline-block;
  margin-top: 3%;
}

.head-logo_icon {
  width: 190px;
  height: 40px;
  stroke: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
}

.head_logo:hover .head-logo_icon {
  stroke: rgb(94, 66, 176);
  fill: rgb(94, 66, 176);
  transition: all 0.3s;
}

.head_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16%;
  font-size: 4.6vmax;
  letter-spacing: 6px;
  line-height: 90px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.head_title span:nth-child(2) {
  align-self: flex-end;
}

.download-us {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 87px;
}

.download-us_store {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: 8px 0px;
  background-color: rgb(94, 66, 176);
  border-radius: 50px;
  font-size: 12px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.download-us_store:nth-child(1) {
  margin-right: 20px;
}

.download-us_store:nth-child(2) {
  margin-left: 20px;
}

.download-us_icon {
  width: 40px;
  height: 45px;
  fill: rgb(255, 255, 255);
}

.download-us_label {
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;
}

.download-us_store:hover {
  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
}

.download-us_store:hover .download-us_icon {
  fill: rgb(94, 66, 176);
  transition: all 0.3s;
}

.download-us_store:hover .download-us_label {
  color: rgb(94, 66, 176);
  transition: all 0.3s;
}

.options {
  position: relative;
  overflow: hidden;
}

.options_img {
  position: absolute;
  width: 50%;
  height: 107%;
  margin-left: 3%;
  margin-top: -3%;
  background-image: url(../img/football-player.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.options_content {
  display: flex;
  flex-direction: column;
}

.options_content .item_content {
  margin-left: 53%;
  margin-right: 9%;
}

.options_content .item:nth-child(2) {
  background-color: rgb(246, 244, 250);
}

.options_content .item:nth-child(3) {
  background-color: rgb(94, 66, 176);
}

.options h2 {
  margin-left: 53%;
  margin-right: 9%;
  padding-top: 80px;
  padding-bottom: 29px;
  font-size: 65px;
  text-transform: uppercase;
  color: rgb(231, 231, 231);
}

.item_content ul, .list_content ul {
  padding: 0;
  list-style: none;
}

.item_content li:nth-child(1):before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 25px;
  background-image: url(../img/marker-sprite.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
}

.item:nth-child(2) .item_content li:nth-child(1):before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 25px;
  background-position: -35px -5px;
}

.item:nth-child(3) .item_content li:nth-child(1):before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 25px;
  background-position: -67px -5px;
}

.item_content h3 {
  display: inline-block;
  font-size: 32px;
  text-transform: uppercase;
  color: rgb(193, 193, 193);
}

.item_content p {
  font-size: 16px;
  letter-spacing: 0.8px;
}

.item:nth-child(1) h3 {
  padding-bottom: 2px;
}

.item:nth-child(1) p {
  padding-bottom: 35px;
}

.item:nth-child(2) h3 {
  padding-top: 23px;
  padding-bottom: 10px;
}

.item:nth-child(2) p {
  padding-bottom: 32px;
}

.item:nth-child(3) h3 {
  padding-top: 43px;
  padding-bottom: 10px;
}

.item:nth-child(3) p {
  padding-bottom: 65px;
  padding-right: 10px;
  color: rgb(255, 255, 255);
}

.more-options {
  position: relative;
  overflow: hidden;
}

.more-options_content {
  display: flex;
  flex-direction: column;
}

.more-options_img {
  position: absolute;
  width: 52%;
  height: 100%;
  margin-left: 45.5%;
  margin-top: -1.5%;
  background-image: url(../img/basketball-player.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.more-options_content .list_content {
  margin-left: 17%;
}

.more-options_content .list:nth-child(2) {
  background-color: rgb(245, 246, 247);
}

.more-options_content .list:nth-child(3) {
  background-color: rgb(10, 14, 52);
}

.more-options h2 {
  margin-left: 17%;
  padding-top: 70px;
  padding-bottom: 27px;
  font-size: 65px;
  text-transform: uppercase;
  color: rgb(231, 231, 231);
}

.list_content li:nth-child(1):before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 25px;
  background-image: url(../img/marker-sprite.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
}

.list:nth-child(2) .list_content li:nth-child(1):before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 25px;
  background-position: -35px -5px;
}

.list:nth-child(3) .list_content li:nth-child(1):before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 25px;
  background-position: -5px -40px;
}

.list_content h3 {
  display: inline-block;
  font-size: 32px;
  text-transform: uppercase;
  color: rgb(193, 193, 193);
}

.list_content p {
  font-size: 16px;
  letter-spacing: 0.8px;
  padding-right: 60%;
}

.list:nth-child(1) h3 {
  padding-bottom: 9px;
}

.list:nth-child(1) p {
  padding-bottom: 40px;
}

.list:nth-child(2) h3 {
  padding-top: 23px;
  padding-bottom: 16px;
}

.list:nth-child(2) p {
  padding-bottom: 40px;
  letter-spacing: 0.5px;
}

.list:nth-child(3) h3 {
  padding-top: 50px;
  padding-bottom: 10px;
}

.list:nth-child(3) p {
  padding-bottom: 57px;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
}

.manual_wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.manual_wrap .number {
  position: absolute;
  left: 50%;
  margin-left: -83px;
  top: 26%;
}

.manual_img, .manual_content {
  width: 50%;
}

.manual_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.manual_wrap:nth-child(1) .manual_img {
  background-image: url(../img/be-active.png);
}

.manual_wrap:nth-child(2) .manual_img {
  background-image: url(../img/find-contact.png);
}

.manual_wrap:nth-child(3) .manual_img {
  background-image: url(../img/work-it.png);
}

.manual_content h2 {
  font-size: 65px;
  color: rgb(231, 231, 231);
  text-transform: uppercase;
}

.manual_content p {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.manual_wrap:nth-child(1) .manual_content h2 {
  padding: 185px 0 0 104px;
}

.manual_wrap:nth-child(1) .manual_content p {
  padding: 69px 49% 167px 109px;
  letter-spacing: 0.5px;
  line-height: 25px;
}

.manual_wrap:nth-child(2) .manual_content h2 {
  padding: 185px 0 0 150px;
}

.manual_wrap:nth-child(2) .manual_content p {
  padding: 37px 35% 225px 152px;
  letter-spacing: 0.6px;
  line-height: 24px;
}

.manual_wrap:nth-child(3) .manual_content h2 {
  padding: 185px 0 0 107px;
}

.manual_wrap:nth-child(3) .manual_content p {
  padding: 69px 25% 179px 109px;
  letter-spacing: 0.5px;
  line-height: 21px;
}

.footer {
  background-image: url(../img/footer-cover.png);
  background-color: rgb(10, 14, 52);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.title_social {
  display: flex;
  justify-content: center;
  padding-top: 12%;
  margin-left: -8px;
}

.title_social .logo {
  position: relative;
  display: inline-block;
  width: 105px;
  height: 110px;
  border-radius: 20%;
  text-align: center;
  background-color: rgb(94, 66, 176);
  background: linear-gradient(#7655d5, #52389d);
}

.title_social .logo_icon {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
  stroke: rgb(255, 255, 255);
  fill: none;
}

.logo_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
}

.logo_title h2 {
  font-size: 62px;
  letter-spacing: 5px;
  line-height: 76px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.logo_title p {
  font-size: 23px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: rgb(164, 152, 202);
}

.footer .download-us {
  display: flex;
  justify-content: center;
  padding-top: 112px;
}

.footer .download-us_store {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: 8px 0px;
  background-color: rgb(94, 66, 176);
  border-radius: 50px;
  font-size: 12px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.footer .download-us_icon {
  width: 40px;
  height: 45px;
  fill: rgb(255, 255, 255);
}

.footer .download-us_label {
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
}

.footer .download-us_store:hover {
  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
}

.footer .download-us_store:hover .download-us_icon {
  fill: rgb(94, 66, 176);
  transition: all 0.3s;
}

.footer .download-us_store:hover .download-us_label {
  color: rgb(94, 66, 176);
  transition: all 0.3s;
}

.footer_logo {
  display: inline-block;
  padding-top: 125px;
  padding-bottom: 36px;
}

.footer-logo_icon {
  width: 190px;
  height: 40px;
  stroke: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
}

.footer_logo:hover .footer-logo_icon {
  stroke: rgb(94, 66, 176);
  fill: rgb(94, 66, 176);
  transition: all 0.3s;
}

@media (min-width: 641px) and (max-width: 960px) {

  header .container {
    margin: 0 10%;
  }

  .head_logo {
    margin-top: 35px;
  }

  .head-logo_icon {
    height: 70px;
  }

  .head_title {
    margin-top: 175px;
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 70px;
  }

  .head_title span:nth-child(2) {
    text-align: left;
    margin-left: 20%;
  }

  .download-us {
    padding-top: 304px;
    padding-bottom: 89px;
  }

  .download-us_store {
    justify-content: space-around;
    width: 280px;
    padding: 10px 40px;
    font-size: 14px;
  }

  .google {
    padding-left: 5px;
  }

  .options_img {
    width: 70%;
    margin-left: -27%;
    margin-top: 9%;
  }

  .options_content .item_content, .options h2 {
    margin-left: 40%;
    margin-right: 10%;
  }

  .item_content h3 {
    font-size: 30px;
  }

  .item_content p {
    font-size: 13px;
    letter-spacing: 0.8px;
  }

  .more-options_img {
    width: 86%;
    margin-left: 44%;
    margin-top: 3%;
  }

  .more-options_content .list_content, .more-options h2 {
    margin-left: 5%;
  }

  .list_content h3 {
    font-size: 30px;
  }

  .list_content p {
    font-size: 13px;
    padding-right: 55%;
  }

  .manual_wrap:nth-child(2) {
    flex-direction: column-reverse;
  }

  .manual_content {
    width: 100%;
  }

  .manual_img {
    width: 100%;
    min-height: 600px;
  }

  .manual_wrap .number {
    left: 16%;
    top: 53%;
  }

  .manual_content h2 {
    font-size: 80px;
  }

  .manual_content p {
    font-size: 24px;
  }

  .manual_wrap:nth-child(1) .manual_content h2 {
    padding: 91px 0 24px 36px;
  }

  .manual_wrap:nth-child(1) .manual_content p {
    padding: 0 13% 103px 36px;
  }

  .manual_wrap:nth-child(2) .manual_content h2 {
    padding: 81px 0 34px 36px;
  }

  .manual_wrap:nth-child(2) .manual_content p {
    padding: 0 13% 103px 36px;
  }

  .manual_wrap:nth-child(3) .manual_content h2 {
    padding: 81px 0 34px 36px;
  }

  .manual_wrap:nth-child(3) .manual_content p {
    padding: 0 13% 103px 36px;
    line-height: 25px;
  }

  .title_social {
    flex-direction: column;
    align-items: center;
    padding-top: 11%;
    margin-left: 0;
  }

  .logo_title {
    margin-top: 8%;
    align-items: center;
    margin-left: 0;
  }

  .logo_title h2 {
    font-size: 80px;
  }

  .logo_title p {
    font-size: 35px;
  }

  .footer .download-us {
    padding-top: 280px;
    padding-bottom: 0;
  }

  .footer .download-us_store {
    justify-content: space-around;
    width: 280px;
    padding: 10px 40px;
    font-size: 14px;
  }

  .footer_logo {
    padding-top: 55px;
    padding-bottom: 18px;
  }
}

@media (max-width: 640px) {

  header .container {
    margin: 0 7%;
  }

  .head_logo {
    margin-top: 10%;
  }

  .head-logo_icon {
    height: 35px;
  }

  .head_title {
    margin-top: 100px;
    font-size: 26px;
    letter-spacing: 4px;
    line-height: 31.5px;
  }

  .head_title span:nth-child(2) {
    margin-top: 7%;
    text-align: left;
    margin-left: 14%;
  }

  .download-us {
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
    padding-bottom: 83px;
  }

  .download-us_store {
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 3px 0;
    font-size: 8px;
  }

  .download-us_store:nth-child(1) {
    margin-right: 0;
  }

  .download-us_store:nth-child(2) {
    margin-top: 13px;
    margin-left: 0;
  }

  .download-us_icon {
    width: 22px;
    height: 24px;
  }

  .download-us_label {
    padding-left: 10px;
  }

  .options_content .item_content, .options h2, .more-options_content .list_content, .more-options h2 {
    margin-left: 6%;
    margin-right: 5%;
  }

  .options h2, .more-options h2 {
    padding: 10px 0 210px 0;
    font-size: 50px;
  }

  .options_content .item:nth-child(1), .more-options .list:nth-child(1) {
    background-color: rgb(250, 250, 250);
  }

  .options_img {
    width: 210px;
    margin-left: 50%;
    left: -105px;
    margin-top: 65px;
  }

  .item_content h3 {
    font-size: 30px;
  }

  .item_content p {
    font-size: 15px;
    letter-spacing: 0.8px;
  }

  .item:nth-child(1) {
    padding-top: 40px;
  }

  .more-options_img {
    width: 287px;
    margin-left: 50%;
    left: -143.5px;
    margin-top: 75px;
  }

  .list:nth-child(1) {
    padding-top: 60px;
  }

  .list_content h3 {
    font-size: 30px;
  }

  .list_content p {
    font-size: 13px;
    padding-right: 0;
  }

  .manual_wrap:nth-child(2) {
    flex-direction: column-reverse;
  }

  .manual_content {
    width: 100%;
  }

  .manual_img {
    width: 100%;
    min-height: 300px;
  }

  .manual_wrap .number {
    left: 6%;
    margin: 0;
  }

  .manual_wrap .number {
    top: 245px;
  }

  .manual_content h2 {
    font-size: 28px;
  }

  .manual_content p {
    font-size: 16px;
  }

  .manual_wrap:nth-child(1) .manual_content h2 {
    padding: 30px 5% 20px 6%;
  }

  .manual_wrap:nth-child(1) .manual_content p {
    padding: 0 5% 80px 6%;
  }

  .manual_wrap:nth-child(2) .manual_content h2 {
    padding: 30px 5% 20px 6%;
  }

  .manual_wrap:nth-child(2) .manual_content p {
    padding: 0 5% 80px 6%;
  }

  .manual_wrap:nth-child(3) .manual_content h2 {
    padding: 30px 5% 20px 6%;
  }

  .manual_wrap:nth-child(3) .manual_content p {
    padding: 0 5% 80px 6%;
    line-height: 20px;
  }

  .title_social {
    flex-direction: column;
    align-items: center;
    padding-top: 98px;
    margin-left: 0;
  }

  .footer .title_social .logo {
    width: 73px;
    height: 71px;
  }

  .footer .title_social .logo_icon {
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
  }

  .logo_title {
    margin-top: 8%;
    align-items: center;
    margin-left: 0;
  }

  .logo_title h2 {
    font-size: 28px;
    margin-bottom: -20px;
  }

  .logo_title p {
    font-size: 14px;
  }

  .footer .download-us {
    flex-direction: column;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 0;
  }

  .footer .download-us_store {
    width: 280px;
    padding: 3px 0;
    font-size: 8px;
  }

  .footer .download-us_store:nth-child(2) {
    margin-top: 13px;
  }

  .footer .download-us_icon {
    width: 22px;
    height: 24px;
  }

  .footer .download-us_label {
    padding-left: 10px;
  }

  .footer_logo {
    padding-top: 85px;
    padding-bottom: 5px;
  }

  .footer-logo_icon {
    width: 135px;
    height: 35px;
  }
}
